<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}" >
    <meta charset="UTF-8">
</head>

<body>

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

<section>
    <div class="error" th:if="${not #strings.isEmpty(msg)}" ><strong th:text="${msg}"></strong> </div>
    <form th:action="@{/member}" th:object="${member}" method="post">
        <table class="sm_table">
            <thead>
            <th colspan="2" class="center">회원 추가</th>
            </thead>
            <tr>
                <th><label for="loginId">ID </label></th>
                <td>
                    <input type="text" th:field="*{loginId}" placeholder="ID를 입력하세요"/>
                    <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error"></div>
                </td>
            </tr>
            <tr>
                <th><label for="pw">PW</label></th>
                <td>
                    <input type="password" th:field="*{pw}" placeholder="PW를 입력하세요"/>
                </td>
            </tr>
            <tr>
                <th><label for="email">Email</label></th>
                <td>
                    <input type="text" th:field="*{email}" placeholder="Email을 입력하세요"/>
                </td>
            </tr>
            <tr>
                <th><label for="name">Name</label></th>
                <td>
                    <input type="text" th:field="*{name}" placeholder="Name을 입력하세요"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <button class="btn btn-submit btn-big" type="submit">등록</button>
                </td>
            </tr>
        </table>
    </form>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>